@page  "/mdm/mtr/발주서정보"
@inherits CustomComponent


<SfSplitter Width="100%" Height="50%" Orientation="Syncfusion.Blazor.Layouts.Orientation.Vertical" SeparatorSize="6">
    <SplitterPanes>
        <SplitterPane Size="100%" Collapsible="true">
            <FGrid @ref="grid" DataSource="@list" TValue="발주서헤더정보" DefaultMode="true" EditMode="DGridEditMode.None" PageSize="15"
                   OnRowSelected="OnRowSelected" OnCreated="RefreshAsync">
                <GridColumns>
                    <GridColumn Field=@nameof(발주서정보.회사코드) HeaderText="회사코드" Width="80" />
                    <GridColumn Field=@nameof(발주서정보.발주번호) HeaderText="발주번호" Width="200" />
                    <GridColumn Field=@nameof(발주서정보.발주일) HeaderText="발주일" Width="120" />
                    <GridColumn Field=@nameof(발주서정보.거래처명) HeaderText="거래처명" Width="120" />
                    <GridColumn Field=@nameof(발주서정보.과세구분명) HeaderText="과세구분명" Width="120" />
                    <GridColumn Field=@nameof(발주서정보.담당자명) HeaderText="담당자명" Width="120" />
                </GridColumns>
            </FGrid>
        </SplitterPane>
    </SplitterPanes>
</SfSplitter>


@*발주서상세*@
<SfSplitter Width="100%" Height="50%" Orientation="Syncfusion.Blazor.Layouts.Orientation.Horizontal" SeparatorSize="6">
    <SplitterPanes>
        <SplitterPane Size="100%" Collapsible="true">
            <FGrid @ref="grid2" DataSource="@list2" TValue="발주서정보" DefaultMode="true" EditMode="DGridEditMode.None" PageSize="15"
                   OnCreated="RefreshAsync2" OnRowSelected="OnRowSelected2">
                <GridColumns>
                    <GridColumn Field=@nameof(발주서정보.발주번호) HeaderText="발주번호" Width="150" />
                    <GridColumn Field=@nameof(발주서정보.발주순번) HeaderText="발주순번" Width="100" />
                    <GridColumn Field=@nameof(발주서정보.발주일) HeaderText="발주일" Width="100"  />
                    <GridColumn Field=@nameof(발주서정보.품번) HeaderText="품번" Width="150" />
                    <GridColumn Field=@nameof(발주서정보.품명) HeaderText="품명" Width="150" />
                    <GridColumn Field=@nameof(발주서정보.규격) HeaderText="규격" Width="150" />
                    <GridColumn Field=@nameof(발주서정보.관리단위) HeaderText="단위" Width="100" />
                    <GridColumn Field=@nameof(발주서정보.납기일) HeaderText="납기일" Width="100" />
                    <GridColumn Field=@nameof(발주서정보.출하예정일) HeaderText="출하예정일" Width="100" />
                    <GridColumn Field=@nameof(발주서정보.발주수량) HeaderText="발주수량" Width="120" />
                    <GridColumn Field=@nameof(발주서정보.발주단가) HeaderText="발주단가" Width="100" />
                    <GridColumn Field=@nameof(발주서정보.공급가) HeaderText="공급가" Width="100" />
                    @*<GridColumn Field=@nameof(발주서정보.부가세) HeaderText="부가세" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.합계액) HeaderText="합계액" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.프로젝트) HeaderText="프로젝트" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.관리구분코드) HeaderText="관리구분코드" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.비고) HeaderText="비고" Width="100" />*@


                    @*<GridColumn Field=@nameof(발주서정보.관리구분명) HeaderText="관리구분명" Width="180" />
                        <GridColumn Field=@nameof(발주서정보.프록젝트명) HeaderText="프록젝트명" Width="180" />
                        <GridColumn Field=@nameof(발주서정보.과세구분) HeaderText="과세구분" Width="150" />
                        <GridColumn Field=@nameof(발주서정보.회사코드) HeaderText="회사코드" Width="110" />
                        <GridColumn Field=@nameof(발주서정보.거래처명) HeaderText="거래처명" Width="120" />
                        <GridColumn Field=@nameof(발주서정보.거래구분) HeaderText="거래구분" Width="120" />
                        <GridColumn Field=@nameof(발주서정보.환종) HeaderText="환종" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.비고_내역) HeaderText="비고(내역)" Width="200" />
                        <GridColumn Field=@nameof(발주서정보.담당자명) HeaderText="담당자명" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.부가세구분) HeaderText="부가세구분" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.과세구분명) HeaderText="과세구분명" Width="120" />
                        <GridColumn Field=@nameof(발주서정보.검사구분) HeaderText="검사구분" Width="100" />
                        <GridColumn Field=@nameof(발주서정보.담당자코드) HeaderText="담당자코드" Width="150" />
                        <GridColumn Field=@nameof(발주서정보.사업장코드) HeaderText="사업장코드" Width="150" />
                        <GridColumn Field=@nameof(발주서정보.부서코드) HeaderText="부서코드" Width="150" />
                        <GridColumn Field=@nameof(발주서정보.사원코드) HeaderText="사원코드" Width="150" />
                        <GridColumn Field=@nameof(발주서정보.거래처코드) HeaderText="거래처코드" Width="150" />*@
                </GridColumns>
            </FGrid>
        </SplitterPane>



        <!--<SplitterPane Size="20%" Min="60px">
            <ContentTemplate>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col section-header mr-auto mt-2">
                            <span class="my-auto">발주서(QR)</span>
                        </div>
                    </div>
                    <div class="row" style="overflow-x:hidden">
                        <div class="col">
                            if (barcodeValue != null)
                            {
                                <div class="form-row mt-2">
                                    <div class="form-group col text-center">
                                        <SfQRCodeGenerator Width="300px" Height="150px" Value=@(barcodeValue)>-->
        @*<QRCodeGeneratorDisplayText Visibility="true" />*@
        <!--</SfQRCodeGenerator>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col text-center">-->
        @*<SfButton Disabled="true">재출력</SfButton>*@
        <!--<SfButton OnClick="() => OnQRPrinteSerial(2) ">중</SfButton>-->
        @*<SfButton OnClick="() => OnQRPrinteSerial(1) ">대</SfButton>
            <SfButton OnClick="() => OnQRPrinteSerial(2) ">중</SfButton>
            <SfButton OnClick="() => OnQRPrinteSerial(3) ">소</SfButton>*@
        <!--</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </ContentTemplate>
        </SplitterPane>-->
    </SplitterPanes>
</SfSplitter>

@code {

    private FGrid<발주서헤더정보> grid;
    private ObservableCollection<발주서헤더정보> list;
    발주서헤더정보 발주서헤더정보Selected { get; set; }

    private FGrid<발주서정보> grid2;
    private ObservableCollection<발주서정보> list2;
    발주서정보 발주서정보Selected { get; set; }

    private string barcodeValue;
    string 회사코드 = "";

    string s_발주번호 = "";

    //2021.04.30
    public 발주서View T_발주서 { get; set; }
    // public IEnumerable<발주서헤더정보> 발주List = new List<발주서헤더정보>();
    protected override async Task OnInitializedAsync()
    {
        회사코드 = await SessionStorage.GetAsync<string>("회사코드");
        T_발주서 = new 발주서View();

        //T_발주서.빌주서헤더정보 = Remote.Command.기준정보.VL_MES_PO_View();
        var result = await Remote.Command.기준정보.VL_MES_PO_View(회사코드);

        T_발주서.빌주서헤더정보 = result;
    }

    private async Task RefreshAsync()
    {
        list?.Clear();

        StateHasChanged();

        회사코드 = await SessionStorage.GetAsync<string>("회사코드");
        T_발주서 = new 발주서View();

        //T_발주서.빌주서헤더정보 = Remote.Command.기준정보.VL_MES_PO_View();
        var result = await Remote.Command.기준정보.VL_MES_PO_View(회사코드);

        T_발주서.빌주서헤더정보 = result;

        //회사코드 = await SessionStorage.GetAsync<string>("회사코드");
        //발주서VIEW
        //var result = await Remote.Command.기준정보.발주서헤더정보_조회(회사코드);
        //list = result.ToObservableCollection();

        list = T_발주서.빌주서헤더정보.ToObservableCollection();

        StateHasChanged();
    }

    private async Task RefreshAsync2()
    {
        //list2?.Clear();

        StateHasChanged();

        //회사코드 = await SessionStorage.GetAsync<string>("회사코드");


        //var result = await Remote.Command.기준정보.발주서정보_조회(s_발주번호, 회사코드);

        //list2 = result.ToObservableCollection();

        //StateHasChanged();
    }


    private async Task OnRowSelected(RowSelectEventArgs<발주서헤더정보> e)
    {
        발주서헤더정보Selected = e.Data;
        s_발주번호 = 발주서헤더정보Selected.발주번호;
        회사코드 = await SessionStorage.GetAsync<string>("회사코드");

        list2?.Clear();
        grid2.Grid.ClearRowSelection();
        barcodeValue = null;

        var result = await Remote.Command.기준정보.발주서정보_조회Dz(발주서헤더정보Selected.발주번호, 회사코드);

        list2 = result.ToObservableCollection();

        StateHasChanged();
    }



    private async Task OnRowSelected2(RowSelectEventArgs<발주서정보> e)
    {
        발주서정보Selected = e.Data;
        회사코드 = await SessionStorage.GetAsync<string>("회사코드");

        barcodeValue = 발주서정보Selected.발주번호 + ":" + 발주서정보Selected.발주순번 + ":" + 회사코드;


        StateHasChanged();
    }


    private async Task OnQRPrinteSerial(int size)
    {
        await QRPrinte_Act(barcodeValue, size);
    }

    protected override void OnDispose()
    {
    }
}
