<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.영업.수주정보 />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.영업.출하계획 />
        </div>
    </div>
</div>

@code {

}