<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.구매.자재소요계획 />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.구매.구매발주내역 />
        </div>
    </div>
</div>

@code {
}