<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.생산.자재소요현황 />
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.생산.생산계획 />
        </div>
    </div>
</div>

@code {
}