<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.품질.수입검사계획 />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.품질.공정검사계획 />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <HiSFS.WebApp.Pages.PM._PP.품질.제품검사계획 />
        </div>
    </div>
</div>

@code {

}