@page "/"

    @*<div class="container-fluid">
        <div class="row">
            <h1>Hello, world!</h1>
        </div>
        <div class="row">
            Welcome to your new app.
        </div>

        <div class="row">
            <SurveyPrompt Title="How is Blazor working for you?" />
        </div>

        <div class="row">
            <SfCalendar TValue="DateTime"></SfCalendar>
        </div>
    </div>*@