<SfCard>
    <CardHeader>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col mr-auto">
                    <span class="card-header-text">수주정보</span>
                </div>
                <div class="col-auto">
                    <SfChipList>
                        <ChipCollection>
                            <ChipListChip Text="연결됨" CssClass="e-success e-outline" />
                        </ChipCollection>
                    </SfChipList>
                </div>
            </div>
        </div>
    </CardHeader>
    <CardContent>
        <div class="container-fluid">
            <div class="row align-self-center mb-2">
                <div class="col-2">
                    <b>수주번호</b>
                </div>
                <div class="col-4">
                    20200517
                </div>
                <div class="col-2">
                    <b>거래처</b>
                </div>
                <div class="col-4">
                    거래처1
                </div>
            </div>
            <div class="row align-self-center mb-2">
                <div class="col-2">
                    <b>대상품목</b>
                </div>
                <div class="col-4">
                    품목1
                </div>
                <div class="col-2">
                    <b>수량</b>
                </div>
                <div class="col-4">
                    200
                </div>
            </div>
            <div class="row align-self-center mb-2">
                <div class="col-2">
                    <b>발주일</b>
                </div>
                <div class="col-4">
                    20/05/17
                </div>
                <div class="col-2">
                    <b>납기일</b>
                </div>
                <div class="col-4">
                    20/05/28
                </div>
            </div>
            <div class="row align-self-center mb-2">
                <div class="col-2">
                    <b>특이사항</b>
                </div>
                <div class="col-10">
                    특이사항1
                </div>
            </div>
            <div class="row align-self-center">
                <div class="col-2">
                    <b>기타</b>
                </div>
                <div class="col-10">
                    기타1
                </div>
            </div>
        </div>
    </CardContent>
</SfCard>

@code {

}