<SfCard>
    <CardHeader>
        <div class="container-fluid">
            <div class="row">
                <div class="col mr-auto">
                    <span class="card-header-text">생산관리계획</span>
                </div>
                <div class="col-auto">
                </div>
            </div>
        </div>
    </CardHeader>
    <CardContent>.</CardContent>
</SfCard>

@code {

}