<SfCard>
    <CardHeader>
        <div class="container-fluid">
            <div class="row">
                <div class="col mr-auto">
                    <span class="card-header-text">제품검사계획</span>
                </div>
                <div class="col-auto">
                </div>
            </div>
        </div>
    </CardHeader>
    <CardContent>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col">
                    <ProductionProcess />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col mr-2">
                    <DPanel Header="도면" Height="160px" />
                </div>
                <div class="col mr-2">
                    <DPanel Header="작업메뉴얼" Height="160px" />
                </div>
                <div class="col">
                    <DPanel Header="비고" Height="160px" />
                </div>
            </div>
        </div>
    </CardContent>
</SfCard>

@code {

}