<SfCard>
    <CardHeader>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col mr-auto">
                    <span class="card-header-text">자재소요계획</span>
                </div>
                <div class="col-auto">
                    <SfChipList>
                        <ChipCollection>
                            <ChipListChip Text="연결됨" CssClass="e-success e-outline" />
                        </ChipCollection>
                    </SfChipList>
                </div>
            </div>
        </div>
    </CardHeader>
    <CardContent>
        .
    </CardContent>
</SfCard>

@code {

}