<SfCard>
    <CardHeader>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col mr-auto">
                    <span class="card-header-text group">@제목</span>
                </div>
            </div>
        </div>
    </CardHeader>
    <CardContent>
        @ChildContent
    </CardContent>
</SfCard>

@code {
    [Parameter]
    public string 제목 { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
